* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

canvas {
  width: 100%;
  height: 100vh;
}

.MDJAminDiv {
  z-index: 4444;
  position: fixed;
  bottom: 5%;
  left: 2%;
}

.MDJAmin {
  text-decoration: none;
  border: 1px dashed white !important;
  padding: 0px 4px;
  color: rgba(204, 204, 204, 0.414);
  font-family: monospace;
  font-style: italic;
  font-size: 1.3em;
  transition: all 0.5s;
}

.MDJAmin:hover {
  color: white;
}
